* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B2C3B;
}

h1 {
    text-align: center;
    color: white;
    margin: 4rem 0 4rem 0;
    font-size: 3rem;
}

.container {
    margin-inline: auto;
    max-width: 1000px;
    height: 500px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 4rem;
    height: 4rem;
    background-color: rgb(95, 95, 184);
}